.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
  background-color: white;
  border: 3px solid #9b9a9a;
  border-radius: 1rem;
  height: 80vh;
  width: 80vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
}

.buttons {
  display: flex;
  gap:1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 18px;
  padding: 1rem;
  border-radius: 0.5rem;
}
.button-add {
  background-color: #0e99f5;
}
.button-delete {
  background-color: #fa0303;
}

.draggable { 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}